/* !自动生成文件(by taro3-vue3-iconfont)，别动！ */

.iconfont {
  display: inline-block;
  font-size: 0;
  overflow: hidden;
}

.iconfont .iconfont-inner {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  visibility: inherit;
}
